<div>
  <el-breadcrumb class="bread" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>商品管理</el-breadcrumb-item>
    <el-breadcrumb-item>添加商品</el-breadcrumb-item>
  </el-breadcrumb>
  <el-card>
    <el-alert
      title="添加商品信息"
      type="info"
      center
      show-icon
      :closable="false"
    ></el-alert>
    <el-steps :active="activeIndex">
      <el-step title="第一步" description="基本信息"></el-step>
      <el-step title="第二步" description="商品图片"></el-step>
      <el-step title="第三步" description="商品内容"></el-step>
      <el-step title="第四步" description="商品属性"></el-step>
      <el-step title="第五步" description="商品参数"></el-step>
      <el-step title="第六步" description="完成"></el-step>
    </el-steps>
    <el-tabs
      v-model="activeName"
      :tab-position="tabPosition"
      @tab-click="clickTab"
      :before-leave="beforeTabLeave"
    >
      <el-tab-pane name="info" label="基本信息">
        <el-form
          ref="infoForm"
          :model="infoForm"
          label-width="120px"
          :rules="infoRules"
        >
          <el-form-item label="商品名称" prop="goods_name">
            <el-input
              type="text"
              v-model="infoForm.goods_name"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品价格" prop="goods_price">
            <el-input
              type="number"
              v-model="infoForm.goods_price"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品数量" prop="goods_number">
            <el-input
              type="number"
              v-model="infoForm.goods_number"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品重量" prop="goods_weight">
            <el-input
              type="number"
              v-model="infoForm.goods_weight"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <el-form-item label="商品分类" prop="goods_cat">
            <el-cascader
              expand-trigger="hover"
              v-model="infoForm.goods_cat"
              :options="categoryData"
              clearable
              :props="defaultProps"
              @change="handleChange"
            ></el-cascader>
          </el-form-item>
          <el-form-item label="是否促销">
            <el-radio v-model="infoForm.is_promote" :label="true">是</el-radio>
            <el-radio v-model="infoForm.is_promote" :label="false">否</el-radio>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="nextStep(2, 'pic')">下一步</el-button>
      </el-tab-pane>
      <el-tab-pane name="pic" label="商品图片">
        <el-upload
          :action="uploadUrl"
          :headers="headers"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove"
          :on-success="uploadSuccess"
        >
          <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="" />
        </el-dialog>
        <el-button type="primary" @click="nextStep(3, 'desc')"
          >下一步</el-button
        >
      </el-tab-pane>
      <el-tab-pane name="desc" label="商品内容">
        <quill-editor
          v-model="infoForm.goods_introduce"
          :options="editorOption"
        />
        <el-button type="primary" @click="nextStep(4, 'attr')"
          >下一步</el-button
        >
      </el-tab-pane>
      <el-tab-pane name="attr" label="商品属性">
        <el-form ref="infoForm" :model="infoForm">
          <el-form-item
            :label="item.attr_name"
            v-for="item in attrs"
            :key="item.attr_id"
            label-position="top"
          >
            <el-input v-model="item.attr_vals"></el-input>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="nextStep(5, 'param')"
          >下一步</el-button
        >
      </el-tab-pane>
      <el-tab-pane name="param" label="商品参数">
        <el-form ref="infoForm" :model="infoForm">
          <el-form-item
            :label="item.attr_name"
            v-for="item in params"
            :key="item.attr_id"
            label-position="top"
          >
            <el-checkbox-group v-model="item.attr_vals">
              <el-checkbox
                v-for="(val, i) in item.attr_vals"
                :label="val"
                :key="i"
                border
                size="small"
              ></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="addGood">添加商品</el-button>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</div>
