<div>
  <el-breadcrumb class="bread" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>商品管理</el-breadcrumb-item>
    <el-breadcrumb-item>商品列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-card>
    <el-row :gutter="20">
      <el-col :span="8">
        <el-input
          v-model="searchText"
          placeholder="请输入内容"
          clearable
          @clear="loadGoodsData"
        >
          <el-button
            type="primary"
            icon="el-icon-search"
            slot="append"
            @click="searchGoods"
          ></el-button>
        </el-input>
      </el-col>
      <el-col :span="8">
        <el-button type="primary" @click="addGoods">
          添加商品
        </el-button>
      </el-col>
    </el-row>
    <el-table class="table" :data="goodsData" style="width: 100%">
      <el-table-column
        type="index"
        label="#"
        :index="indexMethod"
      ></el-table-column>
      <el-table-column prop="goods_name" label="商品名称"></el-table-column>
      <el-table-column
        prop="goods_price"
        label="商品价格"
        width="150"
      ></el-table-column>
      <el-table-column
        prop="goods_number"
        label="商品数量"
        width="150"
      ></el-table-column>
      <el-table-column label="创建时间" width="180">
        <template slot-scope="scope">
          <span>{{scope.row.add_time | dateFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="240">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" icon="el-icon-edit"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="deleteGood(scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      background
      layout="total, sizes, prev, pager, next, jumper"
      :total="totalGoods"
      :page-size="pagesize"
      :page-sizes="[5, 10, 15]"
      @current-change="changePage"
      @size-change="changeSize"
    >
    </el-pagination>
  </el-card>
</div>
