<div>
  <el-breadcrumb class="bread" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>角色列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-card>
    <el-row>
      <el-col>
        <el-button type="primary" @click="showAddRoleDialog">
          添加角色
        </el-button>
      </el-col>
    </el-row>
    <el-table class="table" :data="roleData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row
            class="row1"
            v-for="item in scope.row.children"
            :key="item.id"
          >
            <el-col :span="4">
              <el-tag closable @close="removeRight(scope.row, item.id)">
                {{item.authName}}
              </el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row
                class="row2"
                v-for="subItem in item.children"
                :key="subItem.id"
              >
                <el-col :span="4">
                  <el-tag
                    type="danger"
                    closable
                    @close="removeRight(scope.row, subItem.id)"
                  >
                    {{subItem.authName}}
                  </el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="20">
                  <el-tag
                    class="tag3"
                    v-for="subSubItem in subItem.children"
                    :key="subSubItem.id"
                    closable
                    @close="removeRight(scope.row, subSubItem.id)"
                    type="success"
                  >
                    {{subSubItem.authName}}
                  </el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" label="#"> </el-table-column>
      <el-table-column prop="roleName" label="角色名称" width="180">
      </el-table-column>
      <el-table-column prop="roleDesc" label="描述" width="180">
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            icon="el-icon-edit"
            @click="showEditRoleDialog(scope.row)"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="deleteRole(scope.row)"
            >删除</el-button
          >
          <el-button
            size="mini"
            type="info"
            icon="el-icon-check"
            plain
            @click="showAssignRightDialog(scope.row)"
            >分配权限
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-card>
  <el-dialog title="分配角色" :visible.sync="assignRightVisible">
    <el-tree
      :data="rightData"
      show-checkbox
      node-key="id"
      :default-expand-all="true"
      :props="defaultProps"
      ref="tree"
    >
    </el-tree>
    <span slot="footer" class="dialog-footer">
      <el-button @click="hideAssignRightDialog">取消</el-button>
      <el-button type="primary" @click="assignRight">确认</el-button>
    </span>
  </el-dialog>
  <el-dialog
    title="添加角色"
    :visible.sync="addRoleVisible"
    width="50%"
    @close="hideAddRoleDialog"
  >
    <el-form
      :model="addRoleForm"
      status-icon
      ref="addRoleForm"
      label-width="80px"
    >
      <el-form-item label="角色名称" prop="roleName">
        <el-input
          type="text"
          v-model="addRoleForm.roleName"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="角色描述" prop="roleDesc">
        <el-input
          type="text"
          v-model="addRoleForm.roleDesc"
          autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer">
      <el-button @click="hideAddRoleDialog">取消</el-button>
      <el-button type="primary" @click="addRole">确定</el-button>
    </span>
  </el-dialog>
  <el-dialog
    title="编辑角色"
    :visible.sync="editRoleVisible"
    width="50%"
    @close="hideEditRoleDialog"
  >
    <el-form
      :model="editRoleForm"
      status-icon
      ref="editRoleForm"
      label-width="80px"
    >
      <el-form-item label="角色名称" prop="roleName">
        <el-tag>{{editRoleForm.roleName}}</el-tag>
      </el-form-item>
      <el-form-item label="角色描述" prop="roleDesc">
        <el-input
          type="text"
          v-model="editRoleForm.roleDesc"
          autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer">
      <el-button @click="hideEditRoleDialog">取消</el-button>
      <el-button type="primary" @click="editRole">确定</el-button>
    </span>
  </el-dialog>
</div>
