* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}
.table {
  margin: 20px 0px;
}
.bread {
  background-color: #d4dae0;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
